[flake8]
# 设置每行最大长度，88个字符与代码格式化工具 Black 兼容
max-line-length = 120

# 忽略特定的错误码
# E203: 'whitespace before ':'` - 与 Black 格式化工具冲突
# W503: 'line break before binary operator' - 与 Black 格式化工具冲突
# D100, D101, D102, D103, D104, D105, D106, D107: 缺少文档字符串 (docstring) 的错误，可以根据需要开启或关闭
ignore = E203, W503, F401

# 指定要排除检查的目录和文件
# 排除常见的虚拟环境目录、git目录、依赖目录和测试目录
exclude =
    .git,
    .github,
    __pycache__,
    deps,
    .venv,
    venv,
    custom_components/lifesmart/tests

# 如果你想对测试目录也进行检查，但使用不同的规则，可以稍后配置，
