[flake8]
# 设置每行最大长度
max-line-length = 120

# 忽略特定的错误码
# E201: 'whitespace after '('
# E202: 'whitespace before ')'
# E203: 'whitespace before ':'` - 与 Black 格式化工具冲突
# W503: 'line break before binary operator' - 与 Black 格式化工具冲突
# F401: "'module' imported but unused" - 导入了但未使用的模块 —— 通常在 Home Assistant 中会有这种情况
ignore = E201, E202, E203, W503, F401

# 指定要排除检查的目录和文件
# 排除常见的虚拟环境目录、git目录、依赖目录和测试目录
exclude =
    .git,
    .github,
    __pycache__,
    deps,
    .venv,
    venv,
    custom_components/lifesmart/tests

# 如果你想对测试目录也进行检查，但使用不同的规则，可以稍后配置，
